<div class="container">
  <div class="container">
    <div style="text-align:center">
      <div class="container">
        <h1 class="form-signin-heading text-muted">
          Crypto Messaging Application
        </h1>
        <form class="form-signin" (submit)="signIn()">
          <div class="flex flex-column">
            <input
              type="text"
              ngModel
              [ngModelOptions]="{ name: 'username' }"
              [(ngModel)]="username"
              class="form-control"
              placeholder="Enter your username"
              required
            />
            <input
              type="password"
              ngModel
              [ngModelOptions]="{ name: 'password' }"
              [(ngModel)]="password"
              class="form-control"
              placeholder="Enter your password"
              required
            />
            <input
              *ngIf="!login"
              placeholder="confirm password"
              type="password"
              ngModel
              [ngModelOptions]="{ name: 'passwordConf' }"
              [(ngModel)]="passwordConf"
              placeholder="confirm your password"
              class="form-control"
            />
          </div>
          <div class="flex mt3">
            <button
              type="submit"
              class="pointer mr2 button"
              class="example_a"
            >
              {{ login ? "login" : "create account" }}
            </button>
            <div
              class="pointer button"
              class="example_a"
              (click)="login = !login"
            >
              <font style="color: white">
                {{
                  login
                    ? "need to create an account?"
                    : "already have an account?"
                }}
              </font>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
