<div class="container"[style.visibility]="visible" (click)="visabilityChanger()">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="nav.component.ts"></script>     
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <div class="dropdown" [style.visibility]="visible" (click)="visabilityChanger()">
      <button class="dropbtn"><i class="fa fa-bars" ></i></button>
      <div class="dropdown-content"><ul>
         <li><a routerLink="/login" routerLinkActive="active" (click)="visabilityChanger()">login</a></li>
         <li><a routerLink="/register" routerLinkActive="active"(click)="visabilityChanger()">register</a></li>
       </ul></div></div>  